@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body form {
  margin-top: 100px;
  grid-gap: 3rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "area1 area3" "area2 area3";
}

body form .dy_table {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: area3;
}

.form1 {
  padding: 0px 10px 12px 0px;
  border: 1px solid #ccc;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
}

.form1 div {
  padding: 10px;
}

.form1 p {
  margin: 0;
  padding: 10px 17px 0px 17px;
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.form2 {
  padding: 0px 10px 12px 0px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area2;
  border: 1px solid #ccc;
}

.form2 div {
  padding: 10px;
}

h1 {
  padding: 5px;
  font-size: 1.5em;
  margin: 0;
  width: 100%;
  color: #484848;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

label {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

input[type=text] {
  margin: 5px;
  padding: 5px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

select {
  width: 150px;
  margin: 5px;
  padding: 5px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

button {
  margin: 12px;
  padding: 5px 15px;
  width: auto;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5em;
  background: #f97252;
}

/*.form-insert {
    height: auto;
    width: 40%;
    background: none;
    margin: 15px;
    overflow: hidden;
}
.form-insert h1 {
    width: 100%;
    color: #fff;
    font-size: 2em;
    background: #0253B3;
    line-height: 50px;
    padding: 0 0 0 10px;
    font-family: "Montserrat", sans-serif ;
}
.form-insert input[type=text] {
    width: 100%;
    color: #000;
    font-size: 1.5em;
    border : none;
    outline: none;
    background: none;
    line-height: 50px;
    padding: 0 0 0 10px;
    font-family: "Montserrat", sans-serif ;
}
.form-insert input[type=submit] {
    width: 100%;
    font-size: 2em;
    outline: none;
    border: none;
    color: #fff;
    line-height: 50px;
    font-family: "Montserrat", sans-serif ;
    background: #18A4E0;
}
.form-insert input::placeholder {
    color: #000;
    background: #ddd;
}
.form-insert input[type=text]:focus {
    border-bottom: 2px solid blue;
}*/
table {
  background: white;
  padding: 20px;
  margin: 15px 0px 0px 15px;
  border: none;
  height: auto;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

table th {
  padding: 15px;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  background: #1d96b3;
  color: #fff;
  border-top: 1px solid #FFF;
  text-transform: uppercase;
}

table th:nth-child(1) {
  border-left: 1px solid #FFF;
}

table th:nth-child(3) {
  border-right: 1px solid #FFF;
}

table td:nth-child(1) {
  border-left: 1px solid #FFF;
}

table td:nth-child(3) {
  border-right: 1px solid #FFF;
}

table tr:last-child {
  border-bottom: 10px solid #fff;
}

table tr {
  text-align: center;
}

table tr:nth-child(even) {
  background: #efeeec;
  color: #fff;
}

table tr:nth-child(odd) {
  background: white;
  color: #fff;
}

table td:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 2px;
}

table td {
  border-right: 1px solid #fff;
  padding: 10px 20px;
  color: #484848;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

table td a {
  text-decoration: none;
  color: #f97252;
}

table td a:hover {
  color: #0253B3;
}

@media only screen and (max-width: 768px) {
  body form {
        grid-template-areas: "area1" "area2" "area3";
  }
  body form .dy_table table {
    margin: 0px;
  }
  body form .dy_table table th {
    font-size: 0.9em;
    padding: 10px 10px;
  }
  body form .dy_table table td {
    padding: 10px 7px;
  }
  body form .dy_table table td:nth-child(1) {
    text-transform: lowercase;
  }
}
/*# sourceMappingURL=insert.css.map */